.header img {
    width: 60px;
}

.header {

  grid-area: h;
    background-color: #495B72;
}

.loginBlock {
    padding: 20px 30px;
    float: right;
    color: #ffffff;
}

.loginBlock a {
    color: white;

}