.nav {
    grid-area: n;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 20px;


}

.nav a {
    text-decoration: none;

}

.item {
    text-decoration: none;
    margin: 15px;
    color: green;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    text-transform: capitalize;
    vertical-align: top;
    color: #5f6379;
}

.item a {
    color: #757a95;
}

.item a:hover {
    color: #fd7e14;
    border: 1px solid #757a95;
    border-radius: 10px;
    padding: 5px 15px;
}

.item a.activeLink {
    color: #fd7e14;
    font-weight: 700;

}