.discriptionBlock{
    padding: 10px;
}
.mainPhoto{
    margin-top: -170px;
    max-width: 200px;
    border-radius: 50%;
}

.contacts{
    padding-left: 10px;
}

.formSummeryError {
    border: 2px solid red;
    padding: 5px;
    color: #860000;
}